<!DOCTYPE html>
<html ng-app="contacts">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="angular/angular.min.js"></script>
    <script src="angular/angular-route.min.js"></script>
    <script src="angular/app.js"></script>
    <script src="angular/contacts.controller.js"></script>
    <script src="angular/my-contacts.factory.js"></script>
</head>
<body>
    <div class="container" ng-controller="contactsController">
        <h1 ng-bind="title"></h1>

        <div class="list-contacts">
            <div aw-contact="c" fn-fechar="removeContact(c.id)" ng-repeat="c in contacts"></div>
        </div>

        <hr>

        <form name="formulario" class="form-contacts" ng-submit="createContact()">
            <h1>Add contact</h1>
            <div class="form-campo">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" ng-model="newContact.name">
            </div>
            <div class="form-campo small">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" ng-model="new.contact.email">
            </div>
            <div class="form-campo medio">
                <label for="birthdate">Birth date</label>
                <input type="text" id="birthdate" name="birthdate" ng-model="newContact.birthdate">
            </div>

            <footer>
                <button type="reset">Clear</button>
                <button ng-click="" type="submit">Save</button>
            </footer>
        </form>
    </div>
</body>
</html>